<!DOCTYPE html> 
<html> 
<head> 
<style> 
 
* { 
  box-sizing: border-box; 
} 
 
.img-container { 
  float: left; 
  width: 19.33%; 
  padding: 20px; 
} 
 
.clearfix::after { 
  content: ""; 
  clear: both; 
  display: table; 
 
} 
.button { 
  background-color: purple; 
  border: none; 
  color: white; 
  padding: 15px 32px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  margin: 4px 2px; 
  cursor: pointer; 
} 
 
 
 
</style> 
</head> 
<body style="background-color:black;"> 
   <center> <h1 style="color:rgb(0, 255, 0);"><marquee>Where to publish</marquee></h1></center>
 
 
 
 
<div class="clearfix"> 
  <div class="img-container"> 
  <img src="/static/images/leftdown1 (2).png" alt="Italy" style="width:100%">
  <h1 style="color:rgb(0, 255, 0);">Left Down - 590/-</h1>
  <a class="btn" href="payment2.html">  <button class="button" formaction="">Book Now</button></a>
  </div> 
  <div class="img-container"> 
  <img src="/static/images/middle1 (2).png" alt="Forest" style="width:100%">
  <h1 style="color:rgb(0, 255, 0);">Middle - 450/-</h1>
  <a class="btn" href="payment2.html">  <button class="button" formaction="">Book Now</button></a>
  </div> 
  <div class="img-container"> 
  <img src="/static/images/sideright1 (2).png" alt="Mountains" style="width:100%">
  <h1 style="color:rgb(0, 255, 0);">Side Right 550/-</h1>
  <a class="btn" href="payment2.html">  <button class="button" formaction="">Book Now</button></a>
  </div> 
</div> 
 
 
</div> 
<div class="img-container">  
<img src="/static/images/Down1.jpg" alt="Forest" style="width:100%">
<h1 style="color:rgb(0, 255, 0);">Down - 599/-</h1>
<a class="btn" href="payment2.html">  <button class="button" formaction="">Book Now</button></a>
 
</div> 
 
</div> 
<div class="img-container"> 
<img src="/static/images/Full.jpg" alt="Forest" style="width:100%">
<h1 style="color:rgb(0, 255, 0);">Full</h1> 
<a class="btn" href="payment2.html">  <button class="button" formaction="">Book Now</button></a>
</div> 
 
</div> 
<div class="img-container"> 
<img src="/static/images/Full Right.jpg" alt="Forest" style="width:100%">
<h1 style="color:rgb(0, 255, 0);">Full Right - 680/-</h1>
<a class="btn" href="payment2.html">  <button class="button" formaction="">Book Now</button></a>
</div> 
 
 
</body> 
</html>