<!DOCTYPE html>
<html lang="en">
<head>
    <title>SDP </title>
    <link rel="stylesheet" href="style.css">
    <style>
        #ab{
            list-style-type: none;
  margin: 0;t
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
        }
        #bc {
  float: left;
}
#bc a {
  display: block;
  color: rgb(0, 255, 13);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#bc a:hover {
    background-color: none;
;
}
    </style>
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Stardom</h2>
            </div>
            <div class="menu">
                <ul id="ab">
                    <li id="bc"><a href="http://127.0.0.1:5500/sdp.html#">HOME</a></li>
                    <li id="bc"><a href="http://127.0.0.1:5501/templates/aboutus.html">ABOUT</a></li>
                    <li id="bc"><a href="http://127.0.0.1:5501/templates/serviceonline.html">SERVICE</a></li>
                    <li id="bc"><a href="http://127.0.0.1:5501/templates/branches.html">BRANCHES</a></li>
                    <li id="bc"><a href="http://127.0.0.1:5501/templates/contact.html">CONTACT</a></li>
                </ul>
            </div>
        </div> 
        <div class="content">
            <h1>Publicity & <br><span>Marketing Management <br> System</span> <br></h1>
            <p class="par">
            </p>
            
<img src="happy.gif"
            width="700"
            height="300"
            /img>

             

                <div class="form">
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type="password" name="" placeholder="Enter Password Here">
                    <button class="btnn"><a href="http://127.0.0.1:5501/templates/paper.html">Login</a>
                    </button>

                    <p class="link">Don't have an account<br>
                    <a href="#">Sign up </a> here</a></p>
                    <p class="liw">Log in with</p>

                    <div class="icons">
                        <a href="https://www.facebook.com/login/"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="https://www.instagram.com/accounts/login/"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="https://twitter.com/i/flow/login"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="https://www.google.com/"><ion-icon name="logo-google"></ion-icon></a>
                        <a href="https://www.skype.com/en/"><ion-icon name="logo-skype"></ion-icon></a>
                    </div>

                </div>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js">
</script>
</body>
</html>