<html>
    <center>
    <h1 style="color:rgb(0, 248, 29) ;">Offline paper Advertisements.</h1>
</center>
<body style="background-color:black ;">
    <img src=""
    width="450"
    height="490"
    >
    <img src="gif sakshi.gif"
    width="500"
    height="490"
    >
    <img src="thinakran.gif"
    width="500"
    height="490"
    >
    <img src="toi1.gif"
    width="500"
    height="490"
    >
    <img src="dynik.gif"
    width="500"
    height="490"
    >
    <img src="hindu12121212121212.gif"
    width="480"
    height="490"
    >
</body>

</html>